<% provide(:title, "Game #{@game.id}") %>

<header>
	<%= link_to 'Home', root_path, class: 'home_button' %>
</header>

<div class='game_board'>
	<div id='board_row'>
		<div id='left_strip'>
		</div>
		<div id='board'>
			<table>
				<% 7.downto(0) do |row| %>
					<tr>
					<% (0..7).each do  |col| %>
						<% square = (row * 8) + col %>
						<% if (row.even? && col.even?) || row.odd? && col.odd?%>
							<td id=<%="#{square}"%> class='light'>
								<%= piece_img @game.chess_game.current, square %>
							</td>
						<% else %>
							<td id=<%="#{square}"%> class='dark'>
								<%= piece_img @game.chess_game.current, square %>
							</td>
						<% end %>
					<% end %>
					</tr>
				<% end %>
			</table>
		</div>
		<div id='right_strip'>
		</div>
	</div>
	<div id='bottom_strip'>
	</div>
</div>

