<li>
	<span class='attribute'>Game id:</span> <%= game.id %> 
	<span class='attribute'>status:</span> <%= game.status %> 
	<span class='attribute'>last move:</span> <%=game.updated_at %> 
	<%= link_to 'Resume', game, class: 'button'%> 
	<% if users_game? game %>
		<%= link_to 'Delete', game, class: 'button', data: {"turbo-method": :delete,
													 		 turbo_confirm: "You sure?" } %>
	<% end %>
</li>
